.hue-slider-background {
    background: linear-gradient(to right,
        hsl(000, 100%, 50%) 0%,
        hsl(036, 100%, 50%) 10%,
        hsl(072, 100%, 50%) 20%,
        hsl(108, 100%, 50%) 30%,
        hsl(144, 100%, 50%) 40%,
        hsl(180, 100%, 50%) 50%,
        hsl(216, 100%, 50%) 60%,
        hsl(252, 100%, 50%) 70%,
        hsl(288, 100%, 50%) 80%,
        hsl(344, 100%, 50%) 90%,
        hsl(360, 100%, 50%) 100%
    );
}

.filter-slider-wrapper * {
    width: 100%;
}

.filter-slider-wrapper {
    width: 160px;
}

.filter-slider-numeric {
    width: 45px;
}

.filter-container {
    display: table-row;
}

.filter-container > * {
    height: 22px;
    margin: auto;
    margin-right: 4px;
}

.filter-input-container {
    display: table-cell;
    border: 1px solid green;
}

.filter-input-container * {
    display: inline-block;
    margin: auto;
    margin-right: 4px;
}
